ul li {
    list-style: none;
}

.job-header {
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 0 20px;
    display: flex;
}

.job-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.company-name {
    font-size: 18px;
    color: #555;
}

.job-location, .salary-rate, .employment-type, .work-type, .work-level {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #777;
    gap: 8px;
    margin-bottom: 10px;
}

.work-type-icon {
    font-size: 30px;
    margin: 0 0 0 -3px;
}

.salary-rate {
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50;
}

.job-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
}

.job-description h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.apply-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.job-body {
    display: flex;
    gap: 20px;
    /* align-items: baseline; */
}

.job-icon-wrapper {
    margin: 0 20px 0 0;
}

.job-icon {
    width: 100px;
    height: 100px;
}

.job-company-info {
    align-content: center;
}

.job-response {
    display: flex;
    gap: 10px;
    align-items: center;
}

.job-requirements {
    display: flex;
    gap: 10px;
    align-items: center;
}

.check-icon {
    font-size: 17px;
   
}

.job-skills-title {
    margin: 20px 0 0 0;
}

.about-firm-title {
    margin: 20px 0 0 0;
}

.job-info {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    line-height: 1.5;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0 0 20px 0;
}